* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     scroll-behavior: smooth;
}

.phone__factory {
     display: flex;
}

/* first mobile style */

.blue__container {
     margin-top: 5rem;
     margin-left: 5rem;
}
.iphone__blue {
     width: 200px;
     height: 250px;
}
.phone__title {
     display: block;
     width: 200px;
     margin: 0.05rem;
}
.rating__star {
     display: inline-block;
}
.invidiual__star {
     width: 15px;
     margin-top: 5px;
}
.phone__price {
     display: block;
     margin-top: 5px;
}

/* second mobile style */

.graphite__container {
     margin-top: 5rem;
     margin-left: 5rem;
} 
.iphone__graphite {
     width: 200px;
     height: 250px;
}

/* third mobile style */

.silver__container {
     margin-top: 5rem;
     margin-left: 5rem;
}
.iphone__silver {
     width: 200px;
     height: 250px;
}